<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Home
</NavLink>
<NavLink class="nav-link" href="counter">
    <span class="oi oi-plus" aria-hidden="true"></span> Counter
</NavLink>
<NavLink class="nav-link" href="BhavData">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Bhav Data
</NavLink>
<NavLink class="nav-link" href="CompanyList">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Company List
</NavLink>
<NavLink class="nav-link" href="admin">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Admin
</NavLink>